manifest {
    mainScript = 'main.nf'
    author = "Denis O'Meally"
    version = "0.1"
    description = "Nextflow pipeline modelled after https://informatics.fas.harvard.edu/best-practices-for-de-novo-transcriptome-assembly-with-trinity.html "
}

singularity {
            enabled = true
            cacheDir = "/opt/singularity-images/nextflow"
}

params { 
  output        = "results/"
  name          = "trinity-rnaseq"
  genome        = "/ref_genome/igenomes/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/genome.fa"
  annotation    = "/ref_genome/igenomes/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/genes.gtf"
  forward       = "$baseDir/data/fastq/*_1.fq.gz"
  reverse       = "$baseDir/data/fastq/*_2.fq.gz"
  pairs         = "$baseDir/data/fastq/*_{1,2}.fq.gz"
  bt2index      = "/ref_genome/data/rRNA/silva_rrna"
} 

process {
        publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
        executor='slurm'
        memory='2G'
        cpus='1'
        time='2h'
        }

